#form-body {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 15px 15px;
  border-style: groove;
  border-width: 2px;
  padding: 15px;
  border-radius: 17px;
}


#add-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

#add-button-div {
  margin-top: 30px;
  margin-bottom: 0px;
}

#add-button {
  border-radius: 36px;
  font-family: CircularStd;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
}

.uk-button-primary {
  background-color: #007AFF;
  background-image: linear-gradient(to right, #007AFF , #9586FD);
}


.uk-button-primary:disabled {
  background-color: #007AFF;
  background-image: none;
}

.uk-input {

  background-color: #000000;
  background-radius: 10px;
  background-color: #F5F5F5;
  border-radius: 8px;
  opacity: 0.9;
  border: none;
  padding-bottom: 2px;
}

.uk-input:focus + .uk-form-label {
    color: #007AFF;
}

.input-group {
  /* direction: "rtl"; */
  display: flex;
  flex-direction: column-reverse;
  padding: 7px;
}

.uk-input:focus {
  border-style: solid;
  border-width: 10px;
  border-color: #f1f1f1;


}

.uk-form-label {
  font-weight: normal;
  font-size: 18px;
  font-family: CircularStd;
  margin-bottom: 10px;
  color: #787878;
}